<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/main.css" rel="stylesheet">
</head>
<body>
	<div th:replace="~{nav.html::navbar}"></div>
	
	<h2>상품 등록하기</h2>
	
	<form id="createForm" action="/list/create_process" method="post">
		<input type="hidden" name="created_by" th:value="${#authentication.principal.username}">
		<input type="hidden" name ="imageUrl" id="imageUrl">
		
	    <div style="display: flex; align-items: center; margin-bottom: 10px;">
	        <label for="title" style="width: 100px;">추가할 상품</label>
	        <input name="title">
	    </div>
	    
	    <div style="display: flex; align-items: center; margin-bottom: 10px;">
	        <label for="price" style="width: 100px;">가격</label>
	        <input name="price">
	    </div>
	    
	    <div style="display: flex; align-items: center; margin-bottom: 10px;">
	        <label for="count" style="width: 100px;">재고량</label>
	        <input name="count">
	    </div>
	    
	    <div style="display: flex; align-items: center; margin-bottom: 10px;">
	        <label for="imageUrl" style="width: 100px;">상품이미지</label>
	        <input type="file" id="fileInput">
	    </div>
	    
	    <button type="submit" id="submitBtn">등록</button>
	</form>
	
	<script>
		document.getElementById("createForm").addEventListener("submit", async function(event) {
	        event.preventDefault();
	        
	        let fileInput = document.getElementById("fileInput");
	        let submitBtn = document.getElementById("submitBtn");
	        let file = fileInput.files[0];
	        
	        submitBtn.disabled = true; // 버튼 비활성화 (중복 클릭 방지)
	        
	        if (file) {	          
	            let name = encodeURIComponent(file.name);
	            try {
	                let presignedUrl = await fetch(`/list/PresignedUrl?filename=${name}`);
	                presignedUrl = await presignedUrl.text();

	                let res = await fetch(presignedUrl, {
	                    method: "PUT",
	                    headers: { "Content-Type": file.type },
	                    body: file
	                });

	                if (res.ok) {
	                	let imageUrl = presignedUrl.replace(/\/p\/[^/]+\//, "/");
	                    document.getElementById("imageUrl").value = imageUrl;
	                } else {
	                    alert("이미지 업로드에 실패했습니다.");
	                    return;
	                }
	            } catch (error) {
	                console.error(error);
	                alert("오류가 발생했습니다.");
	                submitBtn.disabled = false;
	                return;
	            }
	        }
	        
	        submitBtn.disabled = false;
	        this.submit();
	    });
	</script>
</body>
</html>