<!DOCTYPE html>
<html lang="ko"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/main.css" rel="stylesheet">
</head>
<body>
	<div th:replace="~{nav.html::navbar}"></div>
	
	<h2>상품 등록하기</h2>
	
	<form action="/list/create_process" method="post">
		<input type="hidden" name="created_by" th:value="${#authentication.principal.username}">
		
	    <div style="display: flex; align-items: center; margin-bottom: 10px;">
	        <label for="title" style="width: 100px;">추가할 상품</label>
	        <input name="title">
	    </div>
	    
	    <div style="display: flex; align-items: center; margin-bottom: 10px;">
	        <label for="price" style="width: 100px;">가격</label>
	        <input name="price">
	    </div>
	    
	    <button type="submit">전송</button>
	</form>
</body>
</html>