<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link href="/main.css" rel="stylesheet">
</head>
<body>
	<div th:replace="~{nav.html::navbar}"></div>
	
	<form action="/list/search" style="display: flex; justify-content: center;">
		<input name="data" th:value="${searchTxt}" style="display : inline">
		<button>⌕</button>
	</form>
	
	<!-- 아이템 목록 출력 -->
	<div class="con">
		<div class="card" th:each="item : ${searchItems}">  <!-- items에 담긴 자료 개수만큼 반복 -->
			<img src="https://placehold.co/300">
			<div>
				<h4>
					<a th:href="@{'/list/read/' + ${item.id}}" th:text="${item.title}"></a>
				</h4>
				<p th:text="${item.price} + '원'"></p>
			</div>
		</div>
	</div>
</body>
</html>